@charset "utf-8";
html {
	height: 100%;
}

body {
	/* height:900px; */
	/* margin-top: -20px; */
	height: 100%;
	margin: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
}
#wrapper {
	width: 100%;
	background-color: #5DBCD0;
	color: #FFFFFF;
	height: 40px;
}
#header1 {
	font-size: large;
	padding-left: 20px;
	max-width: 246pt;
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
}

#login {
	margin-top: 15%;
	margin-left: 30%;
	margin-right: 29%;
}

#login .account {
	width: 500px;
	height: 50px;
	font-size: large;
	border-width: 0px 0px thin;
	border-bottom-color: #58B2DC;
}
#login .password {
	border-width: 0px 0px thin;
	font-size: large;
	width: 500px;
	height: 50px;
	border-bottom-color: #58B2DC;
}
#login .lgst {
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-color: #58B2DC;
	border-radius: 19px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: large;
	margin-top: 20px;
	border-width: thin;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
}
#login .lger {
	color: #D0102C;
	margin-top: 5%;
}
#wrapper #top .grt {
	float: right;
	margin-right: 5px;
}
#wrapper #top .user {
	float: right;
	margin-right: 20px;
}
#wrapper #top p {
	display: inline-block;
	padding-top:10px;
	margin: 0px;
	font: caption;
}
#mnin {
	max-width: 570px;
	margin-left: 20%;
	margin-right: 20%;
}
#searching {
	margin-top: 15%;
	padding-left: 0px;

}
#searching .shbk {
	width: 75%;
	height: 30px;
	border-width: 0px 0px 2pt;
	border-bottom-color: #A5A4A4;
	font-size: 12pt;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	margin-bottom: 2%;

}
#searching1 {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: table;
}
#searching1 .shbn {
	color: #A5A4A4;
	border: 1px solid #ddd;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
	margin: 2px;
}
#searching1 .shbn.selected {
	color: #58B2DC;
}

#searching2 {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 2%;
	display: table;
}
#searching2 .shyr {
	color: #A5A4A4;
	border: 1px solid #ddd;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	float: left;
	width: 55px;
	margin: 2px;
}
#searching2 .shyr.selected {
	color: #58B2DC;
}

.searching {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 2%;
	display: table;
}
.searching .shyr {
	color: #A5A4A4;
	border: 1px solid #ddd;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	float: left;
	width: 55px;
	margin: 2px;
}
.searching .shyr.selected {
	color: #58B2DC;
}


#result {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	padding-left: 0px;
}
#result .shbk {
	width: 75%;
	height: 20px;
	border-width: 0px 0px thin;
	border-bottom-color: #A5A4A4;
	font-size: 10pt;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	margin-bottom: 2%;
}
#result1 {
	margin-left: 28%;
	margin-right: 27%;
	width: 45%;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: table;
}
#result2 {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: table;
}


#result1 .shbn1 {
	color: #A5A4A4;
	border-width: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
}
#result1 .shbn2 {
	color: #58B2DC;
	border-width: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
}
#result1 .shbn3 {
	color: #A5A4A4;
	border-width: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
}
#result1 .shbn4 {
	color: #58B2DC;
	border-width: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
}
#result1 .shbn5 {
	color: #A5A4A4;
	border-width: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
}
#result1 .shbn6 {
	color: #A5A4A4;
	border-width: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
}
#result1 .shbn7 {
	color: #A5A4A4;
	border-width: 0px;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	float: left;
}
#result2 .shyr1 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr2 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr3 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr4 {
	color: #58B2DC;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr5 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr6 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr7 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr8 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr9 {
	color: #A5A4A4;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#result2 .shyr10 {
	color: #58B2DC;
	background-color: #FFFFFF;
	font-family: "Noto Sans TC Regular", "Noto Sans TC Medium", "Noto Sans TC Light";
	border-width: 0px;
	float: left;
	width: 20%;
}
#rtsw {
	width: 50%;
	margin-left: 25%;
	margin-top: 3%;
}
#rtft .rtft {
	letter-spacing: 0pt;
	width: 44%;
	margin-left: 28%;
	margin-bottom: 5%;
	margin-top: 5%;
	margin-right: 28%;

}
#rttp {
	width: 22%;
	margin-left: 39%;
	margin-right: 39%;
	color: #4D4D2D;
	padding-left: 1px;
}
#category {
	height: 100%;
	width: 300px;
	float: left;
	background-color: floralwhite;
}

#category .sb-wrapper {
	height: 100%;
	border-left-width: 0px;
	border-right: thin solid #D3D3D3;
	border-bottom-width: 0px;
	border-top-width: 0px;
}
#cy-bn {
	width: 70%;
	margin-left: 10%;
	margin-right: 10%;
	display: block;




}

#cy-bn .cy-ct {
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-radius: 20px;
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: small;
	border-width: thin;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 15px;
	margin-top: 10px;
}
#cy-bn .cy-dt {
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-radius: 19px;
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: small;
	border-width: thin;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	margin-top: 10px;
	margin-right: 0;
}



.sb-wrapper ul .sb-lvl-1-cat {
	display: table;
	position: relative;
	list-style-type: none;
}
ul .sb-lvl-1-cat #sb-cat-1 {
	display: none;
	transition-property: all;
    transition-duration: 900ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: initial;
}
ul .sb-lvl-1-cat label {
	background-image: url(/image/category.png);
	background-repeat: no-repeat;
	background-size: 16px 18px;
	position: absolute;
	width: auto;
	text-indent: 12px;
	z-index: 10;
	display: block;
}
ul .sb-lvl-1-cat a {
	display: block;
	margin-left: 28px;
}
    .sb-lvl-1-cat > input[type=checkbox]:checked ~ label {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }.sb-lvl-2-cat {
	display: list-item;
	position: relative;
	list-style-type: none;
}
#sb-cat1-1 {
	display: none;
}
#sb-cat1-2 {
	display: none;
}
ul .sb-lvl-2-cat label {
	background-image: url(/image/category.png);
	background-repeat: no-repeat;
	background-size: 16px 18px;
	position: absolute;
	width: auto;
	text-indent: 12px;
	z-index: 10;
	display: block;
}
.sb-lvl-2-cat > input[type=checkbox]:checked ~ label {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
ul .sb-lvl-1-cat .sb-lv2 {
	display: none;
}
.sb-lvl-1-cat > input[type=checkbox]:checked ~ .sb-lv2 {
	display: block;
}
.sb-lv3  {
	display: none;
}
.sb-lvl-2-cat > input[type=checkbox]:checked ~ .sb-lv3 {
	display: block;
}
.sb-lv3 .sb-lvl-3-cat {
    content: "•";
    color: #4eb7f5;
    position: relative;
}
.sb-lv3 .sb-lvl-3-cat a {
	display: block;
	margin-left: 0px;
}
#sb-cat-2 {
	display: none;
}
#sb-cat2-1 {
	display: none;
}

#sb-cat-3 {
	display: none;
}
#sb-cat3-1 {
	display: none;
}
#sb-cat-4 {
	display: none;
}
#sb-cat4-1 {
	display: none;
}
#sb-cat-5 {
	display: none;
}
#sb-cat5-1 {
	display: none;
}
#sb-cat-6 {
	display: none;
}
#sb-cat6-1 {
	display: none;
}
#sb-cat-7 {
	display: none;
}
#sb-cat7-1 {
	display: none;
}
#ct-main {
	height: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 20px;
	margin-top: 0%;
	margin-left: 305px;
	
	background-image: url(http://140.122.64.28:5000/image/NTNU_logo.png);
}
#ct-main ul .ct-dy {
	list-style-type: none;
	border-width: 0px 0px medium;
	border-bottom-style: solid;
	border-bottom-color: #8E8E8E;
	margin-right: 5%;
}
#ct-main #ct-bn {
	width: 17%;
	float: right;
}
.ct-ct {
	border-radius: 20px;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: medium;
	border-width: thin;
	float: left;
	padding-left: 10%;
	padding-right: 10%;
}
#ct-main #ct-bn .ct-ud {
	border-radius: 20px;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: medium;
	border-width: thin;
	float: right;
	padding-left: 10%;
	padding-right: 10%;
}
#ct-main #ct-ct {
	height:100%;
	margin-top: 5%;
	padding-left: 5%;
}
#ctlt {
	display: table;
}

#ctlt .ctlt-tr {
	display: table-row;
}
#ctlt .ctlt-tr .ctlt-td {
	display: table-cell;
}
#nw-wr {
	background-color: #58B2DC;
}
#ct-new {
	width: 480px;
	height: 640px;
	border-color: #DBDBDB;
	border-right-width: thin;
	border-right-style: inset;
	border-bottom-width: thin;
	border-bottom-style: inset;
	border-radius: 20px;
}
#nw-tp {
	color: #FFFFFF;
	text-align: center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
#nw-mn{
	background-color: #F5F5F5;
}
#ct-new #nw-mn .nw-name {
	width: 82%;
	height: 30px;
	border-width: 0px 0px 2pt;
	border-bottom-color: #A5A4A4;
	font-size: 12pt;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	margin-bottom: 2%;
	margin-left: 9%;
	margin-right: 9%;
}
#nw-mn .nw-bc {
	/* [disabled]padding-top: 10px; */
	padding: 10px;
	color: gray;
	/* [disabled]padding-bottom: 10px; */
	list-style: none;
	text-align: center;
}
#nw-mn .nw-bc li {
	display: inline;
	font-size: medium;
	color: #8C8C8C;
}
#nw-mn .nw-bc li+li:before {
	padding: 8px;
	content: "//";
}
#ct-new #nw-mn .nw-content {
	width: 80%;
	height: 400px;
	font-size: 12pt;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid #A5A4A4;
	border-radius: 30px;
}
#nw-tp {
	color: #FFFFFF;
	text-align: center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
#ct-new #ud-mn .ud-name {
	width: 82%;
	height: 30px;
	border-width: 0px 0px 2pt;
	border-bottom-color: #A5A4A4;
	font-size: 12pt;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	margin-bottom: 2%;
	margin-left: 9%;
	margin-right: 9%;
}
#ud-wr {
	background-color: #58B2DC;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#ud-tp {
	color: #FFFFFF;
	text-align: center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
#ud-mn .ud-bc {
	/* [disabled]padding-top: 10px; */
	padding-right: 16px;
	padding-left: 16px;
	/* [disabled]padding-bottom: 10px; */
	list-style: none;
	text-align: center;
}
#ud-mn .ud-bc li {
	display: inline;
	font-size: medium;
	color: #8C8C8C;
}
#ud-mn .ud-bc li+li:before {
	padding: 8px;
	content: "//";
}
#ct-new #ud-mn .ud-content {
	width: 80%;
	height: 400px;
	font-size: 12pt;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid #A5A4A4;
	border-radius: 30px;
}
.file {
    position: relative;
	margin-left: 10%;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #99D3F5;
    border-radius: 20px;
    padding: 4px 12px;
    overflow: hidden;
    color: #58B2DC;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #FFFFFF;
    border-color: #58B2DC;
    color: #004974;
    text-decoration: none;
}
#ct-new #nw-mn .nw-create {
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-radius: 19px;
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: large;
	border-width: thin;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 10%;
	margin-left: 30%;
	width: 40%;
}
#ct-new #ud-mn .ud-upload {
	border-radius: 19px;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: large;
	border-width: thin;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 30%;
	width: 40%;
	margin-top: 85%;
	display: block;
}
#user #ur-bn {
	float: right;
	width: 150px;
	margin-right: 5%;
	display: block;
}

#user #ur-bn .ur-ct {
	border-radius: 20px;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: medium;
	border-width: thin;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 20px;
}
#user-lt {
	/* [disabled]display: block; */
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

}
#urlt  {
	display: table;
	width: 100%;
}
#user #urlt .urlt-tr {
	display: table-row;
}
#urlt .urlt-tr .urlt-td {
	display: table-cell;
	width: 190px;
	height: 33px;
	margin-top: 0px;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 2px inset #ABABAB;
	border-top-style: none;
	padding-top: 4px;
	max-width: 200px;
}
#ur-ac {
	width: 110px;
	font-size: medium;
	padding-bottom: 2px;
	padding-top: 2px;
}
#ur-pw {
	width: 110px;
	font-size: medium;
	padding-top: 2px;
	padding-bottom: 2px;
}
#ur-cpw {
	width: 110px;
	font-size: medium;
	padding-top: 2px;
	padding-bottom: 2px;
}
#ur-create {
	border-radius: 19px;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border-color: #58B2DC;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #58B2DC;
	font-size: 15px;
	border-width: thin;
	width: auto;
}
.urlt-tr .urlt-td .ur-delete {
	border-radius: 19px;
	font-family: "Noto Sans TC Thin", "Noto Sans TC Light", "Noto Sans TC Regular";
	border: thin solid #BF0000;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	text-shadow: 0px 0px;
	color: #BF0000;
	font-size: 15px;
	padding-top: 0px;
}

#page_box {
	text-align:center;
	margin-top:30px;
}

.pagination {
    display: inline-block;
	margin: 0px;
}

.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	border: 1px solid #ddd;
}

.pagination span:hover { cursor: pointer; }
.pagination span:hover:not(.active) {background-color: #ddd;}

.info {
	text-align: center;
	margin:30px;
}

.info div {
	display:inline-block;
	#margin-left:100px;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  max-width: 1000px;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  margin-top:30px;
}

#table-div{
  max-width: 1000px;
  margin: auto;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:16px;
  font-weight: 100;
  padding:5px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  height:30px;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  height:30px;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

#top {
	height:100%;
}

#search_box {
	margin-top: 100px;
	margin-left: 20%;
	width: 60%;
}

#data {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 100px;
}

#cy-bn {
	height:120px;
	padding-top:10px;
}

#main_div {
	text-align: center;
	padding-top: 100px;
}

#main_div a {
	display:inline-block;
	margin: 20px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}

#main_div a p {
	background-color: #CCCCCC;
	padding: 20px;
	margin: 0px;
	border-radius: 10px;
}

.m_pic {
	width: 200px;
}

.option {
	margin: 5px;
	color: #555555;
	font-weight: bold;
}

.option:hover {
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}

.h_shbn {
	float: left;
	color: #555555;
	font-size: 15px;
	
}

#wrapper #top #hd_url {
	padding-top: 8px;
	margin: 0px;
}

#hd_home {
    float: right;
    width: 25px;
    height: 25px;
    padding-top: 6px;
	margin-right: 10px;
}

#hd_home:hover {
	cursor: pointer;
}

#hd_logout {
    float: right;
    width: 25px;
    height: 25px;
    padding-top: 8px;
	margin-right: 5px;
}

#hd_logout:hover {
	cursor: pointer;
}

#new_data_form{
	text-align: left;
}

#ct_default_text {
	color:	#666666;
	font-size: 30px;
	font-weight: bold;
}

.setting_title {
	margin-left:30px;
}

.group-start td {
	background: #c4d3ff !important;
}

.group-end td {
	background: #9ca8cc !important;
}